# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Временные файлы
templeraspisan.html
server_response.html

# Файлы окружения
.env
venv/
env/
ENV/
config.py

# Логи
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 